@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

*{
    margin:0;
    padding: 0;
}
p{
    font-family: 'Nunito', sans-serif;
    padding-top:5px;
    line-height: 28px;
}
ul{
    list-style: none;
    float:right;
    margin-right: 40px;
}
a{
    text-decoration: none;
}
.container-fuil {
    width: 100%;
    background: url(./images/header.png);
  }
  .container {
    width: 1177px;
    margin: 0px auto;
  }
  .container #header {
    width: 100%;
    height: 60px;
  }
  .container #header #logo {
    padding-top: 3px;
    padding-bottom: 10px;
    float: left;
  }
  .container #header #nav ul a {
    float: right;
    /*Đưa sang phải - In hoa chữ*/
    /*text-transform: uppercase;*/
    color: #FEF0ED;
    display: block;
    padding: 20px 10px 20px 10px;
  }
  /*Tạo hiệu ứng gạch chân*/
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fef0ed;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f39c38;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#wrapper{
    height: 90px;
    width: 100%;
    background-color: #fe000f;
}




#main-menu {
    display: flex;
}
#main-menu li{
    padding: 0px 15px;

}
#main-menu a{
    display: block;
    padding: 35px 0px;
    text-decoration: none;
    color:#fff;
    position: relative;
    
 
}
#main-menu a::after{

    content: "";
    height: 2px;
    width: 5px;
    background-color: #f39c38;
    position:absolute ;
    bottom: 33px;
    left: 0;
    transition: all 0.25s ease-in-out;
}
#main-menu a:hover::after{
    width: 70%;
}
.header{
    width: 1050px;
    margin: 0 auto;
    padding-top: 50px;
}
    
.content-intro{
    width: 900px;
    margin: 0 auto;
}


  .baiviet{
    border: 1px solid #c8c6c6;
    border-left-width:4px ;
    border-left-color:#446084;
    border-right: 2px solid #446084;
    }
#gioithieuchung{
    font-family: 'Nunito', sans-serif;
    font-size:45px;
}
.dv .cacdichvu{
    float: left;
    width: 27%;
    padding: 1%;
    
    margin-right: 4%;
   
}
.batki{
width: 90px;
background-image: url(./img/ảnh\ pháo.jpg);
margin-left: 20px;
height:178px;
float: left;
}

.batki1{
width: 90px;
background-image: url(./img/ảnh\ pháo.jpg);

height:178px;
float: right;
margin-right:20px ;

}
.img-ser1{
    box-shadow: 3px 3px 3px grey;
    border-radius:10px;
}
.back-page{
    padding-left: 648px;
}
.btn_form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
}
.btn5-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn5-hover:focus {
  outline: none;
}
.btn5-hover.btn5 {
    background-image: linear-gradient(
      to right,
      #f3672f,
      #e0ba10,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 181, 234, 0.75);
 }
.link-share{
    text-align: center;
    font-size:15px;
    font-weight: 500;
    font-family:  'Nunito', sans-serif;
    color: #d8a330
  }
.link-in{
  color: #f39c38;
}
.mucluc{
  font-family: 'Nunito', sans-serif;
   
}
#motsodichvu{
  font-family: 'Nunito', sans-serif;
}
#thucunglagi{
  font-family: 'Nunito', sans-serif;
}
#tacdungmathucungmanglai{
  font-family: 'Nun', sans-serif;
}
.main-content {
    display: flex;
  }
  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }
  .box .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #e7ba59;
  }
  .box .content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #e7ba59;
    top: -10px;
  }
  .left .content p {
    text-align: justify;
    color: #999999;
  }
  .left .content .social {
    margin: 20px 0 0 0;
  }
  .left .content .social a {
    padding: 0 2px;
  }
  .left .content .social a span {
    height: 40px;
    width: 40px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover {
    background: #e7ba59;
  }
  .center .content .fas {
    font-size: 1.4375rem;
    background: #fffafa;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover {
    background: #e7ba59;
  }
  .center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #999999;
  }
  .center .content .phone {
    margin: 15px 0;
  }
  .right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg {
    margin-top: 10px;
  }
  .right form input,
  .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus {
    outline-color: #3498db;
  }
  .right form input {
    height: 35px;
    width: 610px;
  }
  .right form .btn {
    margin-top: 10px;
  }
  .right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f7f7f7; /*Gửi*/
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .right form .btn button:hover {
    background-color: #e7ba59;
  }
  
  .bottom center span {
    color: #fff;
  }
  .bottom center a {
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover {
    text-decoration: underline;
  }
  .pfooter{
    line-height:20px;
  }
  @media screen and (max-width: 900px) {
    footer {
      position: relative;
      bottom: 0px;
    }
    .main-content {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box {
      margin: 5px 0;
    }
  }
  footer {
    /* background-image: url("./images/ft.png"); */
    background-image: url("./images/ft.png");
    width: 100%;
    height: 60px;
  }
  footer .bottom {
    padding-top: 20px;
    text-align: center;
  }
  .footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
