@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
  --bg-primary: #000000;
}
* {
  padding-top: 0px;
  margin: 0px;
  font-size: 17px;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* Thẻ a là thẻ link 
Bỏ gạch chân ở đươcg link */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container-fuil {
  width: 100%;
  background: url(./images/header.png);
}
.container {
  width: 1177px;
  margin: 0px auto;
}
.container #header {
  width: 100%;
  height: 60px;
}
.container #header #logo {
  padding-top: 3px;
  padding-bottom: 10px;
  float: left;
}
.container #header #nav ul a {
  float: right;
  /*Đưa sang phải - In hoa chữ*/
  /*text-transform: uppercase;*/
  color: #FEF0ED;
  display: block;
  padding: 20px 10px 20px 10px;
}
/*Tạo hiệu ứng gạch chân*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fef0ed;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f39c38;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body{
   background-color: #FACFC6;
}
/*Write Here begin*/
.link-content{
  width: 100%;
  height:200px;
  padding-left:500px;
  text-align: center;
}
.column {
  float: left;
  width: 50% 50%;
  padding:10px;
}
.img-cao{
  width:220px;
  height:200px;
}
.intro-txt{
    padding-top: 70px;
    font-size:23px;
    color:chocolate;
    font-family:'Poppins', sans-serif;
}

.body-new{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-size:16px;
    line-height: 1.5;
    height: 1150px;
}
.site-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.article-container{
    grid-template-columns: 293px 293px 293px;
    display:grid;
    gap:2rem;
}
.article-image{
    margin:0;
    padding:0;
    overflow: hidden;
}
.article-image img{
    max-width:100%;
    height:auto;
    border-radius: 10px;
}
.article-card{
    background:white;
    box-shadow:3px 3px 3px grey;
    transition:0.3s;
    border-radius: 10px;
}

.article-content{
    padding:2rem;
}
.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color:coral;
}
.article-content .card-title{
    margin:1rem 0;
    color:#000000
}
.article-content .card-excerpt{
    font-size:1rem;
    line-height: 1.5rem;
    color:#6b82a7;
    margin:0;
}
/*Begin Footer*/
.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #e7ba59;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #e7ba59;
  top: -10px;
}
.left .content p {
  text-align: justify;
  color: #999999;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #e7ba59;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #fffafa;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #e7ba59;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #999999;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
  width: 610px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f7f7f7; /*Gửi*/
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background-color: #e7ba59;
}

.bottom center span {
  color: #fff;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
footer {
  /* background-image: url("./images/ft.png"); */
  background-image: url("./images/ft.png");
  width: 100%;
  height: 81px;
}
footer .bottom {
  padding-top: 32px;
  text-align: center;
}