@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
:root {
  --bg-primary: #000000;
}
* {
  padding-top: 0px;
  margin: 0px;
  font-size: 17px;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* Thẻ a là thẻ link 
Bỏ gạch chân ở đươcg link */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container-fuil {
  width: 100%;
  background: url(./images/header.png);
}
.container {
  width: 1177px;
  margin: 0px auto;
}
.container #header {
  width: 100%;
  height: 60px;
}
.container #header #logo {
  padding-top: 3px;
  padding-bottom: 10px;
  float: left;
}
.container #header #nav ul a {
  float: right;
  /*Đưa sang phải - In hoa chữ*/
  /*text-transform: uppercase;*/
  color: #FEF0ED;
  display: block;
  padding: 20px 10px 20px 10px;
}
/*Tạo hiệu ứng gạch chân*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fef0ed;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f39c38;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Header END */
/*Tạo hiệu ứng gạch chân*/
#name {
  width: 100%;
  height: 80px;
  text-align: center;
}
#ten {
  font-size: 40px;
  font-family: "Shizuru", cursive;
  padding-top: 5px;
}


/* Banner Begin */
.banner-text {
  padding-top: 189px;
  padding-left: 180px;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  background: url("./images/banner.jpg");
  background-size: 1532px 650px;
  background-repeat: no-repeat;
  /* width: 1500px; */
  height: 655px;
}
.banner-name span {
  font-size: 50px;
  font-weight: 500; /*Đọ đậm*/
}
.banner-content {
  color: rgb(0, 0, 0);
  /* font-size: 50px; */
}
.banner-content h1 {
  font-size: 23px;
  font-weight: 200;
  line-height:30px;
  font-family: 'Nunito Sans', sans-serif;
}
.banner-content h2 {
  font-size: 23px;
  font-weight: 200;
  line-height:30px;
  font-family: 'Nunito Sans', sans-serif;
}
.search-box {
  position: absolute;
  transition: 0.4s;
  background: #f7f7f7;
  opacity: 0.4;
  width: 300px;
  height: 35px;
  border-radius: 50px;
}

.search-btn {
  color: #161313;
  float: left;
  width: 30px;
  height: 38px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt {
  border: none;
  background: none;
  outline: left;
  padding-top: 1px;
  color: #1a1716;
  font-size: 17px;
  transition: 0.4s;
  line-height: 35px;
  width: 250px;
}

/* Banner End */

.intro-first {
  width: 100%;
  height: 440px;
  background-color: #fdf2ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-txt {
  /* flex-basis là thuộc tính cuối cùng, nó quyết định kích thước lý tưởng của phần tử, mặc định là auto */
  flex-basis: 90%;
  padding-left: 300px;
}
.intro-txt h1 {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}
.intro-txt h3 {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  width: 420px;
}
.intro-img {
  flex-basis: 90%;
}

.box-slide {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 100%;
  height: 570px;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 20%;
  padding-top: 7%;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 900px;
  height: 450px;
  border-radius: 20px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 584px;
  padding-left: 11%;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 584px;
  justify-content: center;
  margin-top: 500px;
  padding-left: 11%;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #40D3DC;
}

.service-intro {
  width: 100%;
  height: 530px;
  background-color: #dfdfdf;
}
.img-ser {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 5px;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dfdfdf;
  overflow: hidden;
}
.carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.carousel-wrapper .carousel .carousel-cell {
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  width: 20.25%;
  height: auto;
  min-width: 120px;
  margin: 0 40px;
  transition: transform 500ms ease;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.479);
}
.carousel-wrapper .carousel .carousel-cell .txt-ser {
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.carousel-wrapper .carousel .carousel-cell .more {
  display: block;
  opacity: 0;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 15px;
  color: #cfcfcf;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.carousel-wrapper .carousel .carousel-cell .more:hover,
.carousel-wrapper .carousel .carousel-cell .more:active {
  color: #F7866A;
  text-decoration: none;
}

.carousel-wrapper .carousel .carousel-cell .more:visited,
.carousel-wrapper .carousel .carousel-cell .more:focus {
  color: #F7866A;
  text-decoration: none;
}
.carousel-wrapper .carousel .carousel-cell .line {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: rgb(0, 0, 0);
  left: 50%;
  margin: 5px 0 0 -1px;
  transition: height 300ms ease;
  display: block;
}
.carousel-wrapper .carousel .carousel-cell .price {
  color: rgb(0, 0, 0);
  position: absolute;
  font-weight: 700;
  margin: 45px auto 0 auto;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}
.carousel-wrapper .carousel .carousel-cell .price sup {
  top: 2px;
  position: absolute;
}
.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(1.2);
}
.carousel-wrapper .carousel .carousel-cell.is-selected .line {
  height: 35px;
}
.carousel-wrapper .carousel .carousel-cell.is-selected .price,
.carousel-wrapper .carousel .carousel-cell.is-selected .more {
  opacity: 1;
}
.carousel-wrapper .flickity-page-dots {
  display: none;
}
.carousel-wrapper .flickity-viewport,
.carousel-wrapper .flickity-slider {
  overflow: visible;
}
@media only screen and (max-width: 760px) {
  .carousel-wrapper .carousel .carousel-cell {
    width: 150px;
    height: auto;
    padding: 5px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}
/* Footer Begin */

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #e7ba59;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #e7ba59;
  top: -10px;
}
.left .content p {
  text-align: justify;
  color: #999999;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #e7ba59;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #fffafa;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #e7ba59;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #999999;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
  width: 610px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f7f7f7; /*Gửi*/
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background-color: #e7ba59;
}

.bottom center span {
  color: #fff;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
footer {
  /* background-image: url("./images/ft.png"); */
  background-image: url("./images/ft.png");
  width: 100%;
  height: 60px;
}
footer .bottom {
  padding-top: 20px;
  text-align: center;
}
.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
