@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
  padding-top: 0px;
  margin: 0px;
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container-ser{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */




/* Thẻ a là thẻ link 
Bỏ gạch chân ở đươcgf link */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.container-fuil {
  width: 100%;
  background: url(./images/header.png);
}
.container {
  width: 1177px;
  margin: 0px auto;
}
.container #header {
  width: 100%;
  height: 60px;
}
.container #header #logo {
  padding-top: 3px;
  padding-bottom: 10px;
  float: left;
}
.container #header #nav ul a {
  float: right;
  /*Đưa sang phải - In hoa chữ*/
  /*text-transform: uppercase;*/
  color: #FEF0ED;
  display: block;
  padding: 20px 10px 20px 10px;
}
/*Tạo hiệu ứng gạch chân*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fef0ed;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f39c38;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* .hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
/* design */
.design{
    /* padding: 4.5rem 0; */
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
    height:400px;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: #33b5be;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}


/* footer */

.footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .main-content {
    display: flex;
  }
  .main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }
  .box .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #e7ba59;
  }
  .box .content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #e7ba59;
    top: -10px;
  }
  .left .content p {
    text-align: justify;
    color: #999999;
  }
  .left .content .social {
    margin: 20px 0 0 0;
  }
  .left .content .social a {
    padding: 0 2px;
  }
  .left .content .social a span {
    height: 40px;
    width: 40px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover {
    background: #e7ba59;
  }
  .center .content .fas {
    font-size: 1.4375rem;
    background: #fffafa;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover {
    background: #e7ba59;
  }
  .center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #999999;
  }
  .center .content .phone {
    margin: 15px 0;
  }
  .right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg {
    margin-top: 10px;
  }
  .right form input,
  .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus {
    outline-color: #3498db;
  }
  .right form input {
    height: 35px;
    width: 610px;
  }
  .right form .btn {
    margin-top: 10px;
  }
  .right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f7f7f7; /*Gửi*/
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .right form .btn button:hover {
    background-color: #e7ba59;
  }
  
  .bottom center span {
    color: #fff;
  }
  .bottom center a {
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer {
      position: relative;
      bottom: 0px;
    }
    .main-content {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box {
      margin: 5px 0;
    }
  }
  footer {
    /* background-image: url("./images/ft.png"); */
    background-image: url("./images/ft.png");
    width: 100%;
    height: 60px;
  }
  footer .bottom {
    padding-top: 20px;
    text-align: center;
  }
  
/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container-news{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
.btn_form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
}
.btn5-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn5-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn5-hover:focus {
  outline: none;
}
.btn5-hover.btn5 {
    background-image: linear-gradient(
      to right,
      #f3672f,
      #e0ba10,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 181, 234, 0.75);
 }